.header {
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  &__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }

  &__logo-web {
    color: var(--accent-color);
  }

  &__navigation {
    display: flex;
    align-items: center;
  }
}

/* Navigation */
.menu {
  display: flex;
  margin-left: 93px;
}
.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__list {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__item-phone {
  margin-left: 30px;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  &-envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: "";
    bottom: -1px;
    left: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
