.container {
  padding-left: 15px;
  padding-right: 15px;
}

// // 480+
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}

// // 768+
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// // 1200+
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section-suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
