:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --footers-bg-color: #2f303a;
  --logo-color: #000000;
  --footers-adress-color: rgba(255, 255, 255, 0.6);
  --footers-active-color: #ffffff;
  --btn-text-color: #ffffff;
  --btn-bg-accent-color: #ffffff;
  --hero-title-color: #ffffff;
  --hero-bg-color: #2f303a;
  --logo-color-bg: #c4c4c4;
  --background-icon-btn-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
}
